/* .container {
    margin: auto;
    max-width: 500px;
    font-family: Arial;
} */

/* .heading {
  font-size: 30px ;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-style: Arial, bold;
  color: rgb(30, 173, 166);
} */
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
  padding-top: 1rem;
}
.nav-link-text {
  color: black;
}